In [15]:
import csv
import pandas as pd

In [16]:
df = pd.read_csv('english_saheeh.csv')
df.head(10)

,Translation Info:\r\n#---------------------------\r\n# Translation of the meanings of the Noble Qur'an\r\n# Language: English\r\n# Translation ID: english_saheeh\r\n# Source: https://quranenc.com\r\n# URL: https://quranenc.com/en/browse/english_saheeh\r\n# Last update: 2019-12-24 (v1.1.0-csv.1)\r\n# Check for updates: https://quranenc.com/check/english_saheeh/v1.1.0-csv.1\r\n# PLEASE DON'T REMOVE THIS IMPORTANT INFORMATION!\r\n#---------------------------,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,id,sura,aya,translation,footnotes
1,1,1,1,"(1) In the name of Allāh,[2] the Entirely Merc...",[2]- Allāh is a proper name belonging only to ...
2,2,1,2,"(2) [All] praise is [due] to Allāh, Lord[4] of...",[4]- When referring to Allāh (subḥānahu wa taʿ...
3,3,1,3,"(3) The Entirely Merciful, the Especially Merc...",NaN
4,4,1,4,(4) Sovereign of the Day of Recompense.[5],"[5]- i.e., repayment and compensation for what..."
5,5,1,5,(5) It is You we worship and You we ask for help.,NaN
6,6,1,6,(6) Guide us to the straight path -,NaN
7,7,1,7,(7) The path of those upon whom You have besto...,NaN
8,8,2,1,"(1) Alif, Lām, Meem.[7]",[7]- These are among the fourteen opening lett...
9,9,2,2,(2) This is the Book about which there is no d...,"[8]- Literally, ""those who have taqwā,"" i.e., ..."

In [17]:
df = df.rename(columns=df.iloc[0]).drop(df.index[0])

In [18]:
df.dtypes

id             object
sura           object
aya            object
translation    object
footnotes      object
dtype: object

In [24]:
from urllib.request import urlopen
import json
import psycopg2 as db

In [25]:
HOST = "localhost"
DB = 'quran'
DB_USER = 'postgres'
DB_PASSWORD = '@Arifyacop99'
DB_POST = '5432'
try:
    conn = psycopg2.connect(
        host = HOST,
        database = DB,
        user = DB_USER,
        password = DB_PASSWORD,
        port = DB_POST
)
    print (f"You connect database "  + DB +" successfully")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

conn.set_session(autocommit=True)

You connect database quran successfully

In [26]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS quran_english_saheeh (id varchar,sura varchar,aya varchar,translation varchar,footnotes varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [28]:
conn_string="dbname='quran' host='localhost' user='postgres' password='@Arifyacop99'"
conn=db.connect(conn_string)
cur=conn.cursor()

In [30]:
df=tuple(df)

In [33]:
query = "insert into quran_english_saheeh (id,sura,aya,translation,footnotes) values(%s,%s,%s,%s,%s)"
# print(cur.mogrify(query,df[1]))

In [34]:
cur.executemany(query,df)
conn.commit()

IndexError: string index out of range

In [22]:
query = "insert into quran_data (id,sura,aya,translation,footnotes) values(%s,%s,%s,%s,%s)"
data = df
#print(cur.mogrify(query2,data))
cur.executemany(query,data)
conn.commit()

IndexError: string index out of range